
.Bar{
  color:rgb(0, 0, 0);
  font-family: 'Trebuchet MS';
}
.App-header{
  background-color: black;
  padding: 15px;
}
.title{
  font-family: 'Trebuchet MS';
  background-color: black;
  color:white;
  border-radius: 12px;
  font-size: large;

}
.button {
  background-color: #04AA6D;
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  font-family:monospace;
}