import 
.Bar{
  color:rgb(0, 0, 0);
  font-family: 'Trebuchet MS';
}
.App-header{
  background-color: black;
  padding: 15px;
}
.title{
  font-family: 'Trebuchet MS';
  background-color: black;
  color:white;
  border-radius: 12px;
  letter-spacing: 3px;
  font-size: large;
}
.button {
  background-color: #04AA6D;
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
}
input[type="text"]{
  font-size: small;
  color:black;
  border-width: 2px;
  width: 200px;
}
input[type="password"]{
  font-size: small;
  border-width: 2px;
  color:black;
  width: 200px;
}
input[type="submit"]{
  font-size: 200px;   

}
button{
  font-size: larger ;
}
*{
  font-family: monospace;
}
form{
  margin-top: 20px;
  padding: 100px;
  border-style:solid;  
  margin: 0;
  text-align: center;
  margin: auto;
  margin-top:100px;
  width: 300px;
  height: 170px;

}

